{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block position %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block page %}Edit{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- BS Stepper -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/bs-stepper/css/bs-stepper.min.css') }}">
{% endblock %}

{% block sidebar %}
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Check
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Home</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/search" class="nav-link">
                  <i class="nav-icon fas fa-search"></i>
                  <p>Search for Material</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/viewall" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View All</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addnew" class="nav-link">
                  <i class="far fa-plus-square nav-icon"></i>
                  <p>Add New Item</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/edit" class="nav-link active">
                  <i class="far fa-edit nav-icon"></i>
                  <p>Edit Item</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/checkout" class="nav-link">
                  <i class="far fa-file nav-icon"></i>
                  <p>Check Out</p>
                </a>
              </li>
            </ul>

          </li>

        </ul>
      </nav>
{% endblock %}

{% block main %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
        <div class="col-md-6">

    <div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Check and Edit Information</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
            <div class="card-body">
                <div class="bs-stepper">
                  <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#preparedata-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="preparedata-part" id="preparedata-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Enter the MPN</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#runtype-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="runtype-part" id="runtype-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Check & Edit & Submit</span>
                      </button>
                    </div>
                  </div>
                  <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="preparedata-part" class="content" role="tabpanel" aria-labelledby="preparedata-part-trigger">
                        <div class="form-group">
                            <label for="mpn">MPN</label>
                            <input type="text" class="form-control" id="mpn" name="mpn" placeholder="# Manufacture Part Number">
                        </div>
                        <div class="form-group border-top">
                            <p class="card-text">Or you can try to scan the QR code to Auto-fill</p>
                            <button class="btn btn-outline-success" onclick="scanQRcode()">QR Scanner</button>
                        </div>
                        <br>
                      <button class="btn btn-primary" onclick="checkStep1()">Next</button>
                    </div>
                    <div id="runtype-part" class="content" role="tabpanel" aria-labelledby="runtype-part-trigger">
                        <div class="form-group row">
                            <label for="m_name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="m_name" name="m_name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="m_class" class="col-sm-2 col-form-label">Class</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="m_class" name="m_class" placeholder="Classification">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="footprint" class="col-sm-2 col-form-label">Footprint</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="footprint" name="footprint" placeholder="Footprint">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="quantity" name="quantity" placeholder="How many have you bought?">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="manufacture" class="col-sm-2 col-form-label">Manufacture</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="manufacture" name="manufacture" placeholder="Manufacture of this material">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="spn" class="col-sm-2 col-form-label">SPN</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="spn" name="spn" placeholder="# Supplier Part Number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="supplier" class="col-sm-2 col-form-label">Supplier</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="supplier" name="supplier" placeholder="Where did you buy?">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="position" class="col-sm-2 col-form-label">Position</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="position" name="position" placeholder="Where in the warehouse?">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user_comment" class="col-sm-2 col-form-label">Comments</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="user_comment" name="user_comment" placeholder="Wanna say something?">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="buy_time" class="col-sm-2 col-form-label">Buy Time</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="buy_time" name="buy_time" placeholder="When did you buy?">
                            </div>
                        </div>
                        <button class="btn btn-primary btn-success" onclick="stepper.previous()">Back...</button>
                        <button class="btn btn-primary" onclick="submitChanges()">Submit</button>
                    </div>
                  </div>
                </div>

            </div>
                <!-- /.card-footer -->
    </div>
            <!-- /.card -->
        <!-- /.row -->
      </div><!-- /.container-fluid -->

      </div>
          </div>
    </section>

{% endblock %}
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- Html5-QRCode -->
<script src="{{ url_for('static', filename='plugins/html5-qrcode/html5-qrcode.min.js') }}"></script>
<!-- BS-Stepper -->
<script src="{{ url_for('static', filename='plugins/bs-stepper/js/bs-stepper.min.js') }}"></script>

<script>
     // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  })
</script>

<script>
    async function checkStep1() {
        const mpn = document.getElementById('mpn').value;
        if (mpn.trim() === "") {
            Swal.fire({
                title: "Hey!",
                text: "You must enter the MPN of the part!",
                icon: "warning"
            });
        } else {
            let fetchURL = "/api/getSingleDatawithMPN?mpn=" + encodeURIComponent(mpn);
            const responsecheck = await fetch(fetchURL, {
                method: 'GET'
            });
            const datacheck = await responsecheck.json();
            if(responsecheck.ok) {
                if(datacheck.status === 1){
                    Swal.fire({
                        title: 'Does not exist...',
                        text: "It seems to be a brand new part... Check your input? Or add it as new part.",
                        icon: 'warning'
                    });
                } else {
                    document.getElementById('m_name').value = datacheck.data[1];
                    document.getElementById('m_class').value = datacheck.data[2];
                    document.getElementById('footprint').value = datacheck.data[3];
                    document.getElementById('quantity').value = datacheck.data[4];
                    document.getElementById('manufacture').value = datacheck.data[6];
                    document.getElementById('spn').value = datacheck.data[7];
                    document.getElementById('supplier').value = datacheck.data[8];
                    document.getElementById('position').value = datacheck.data[9];
                    document.getElementById('user_comment').value = datacheck.data[10];
                    document.getElementById('buy_time').value = datacheck.data[11];
                    stepper.next();
                }
            } else {
                Swal.fire({
                        title: 'Something wrong happened...',
                        text: "Maybe check the Internet connection or the server status?",
                        icon: 'error'
                    });
            }

        }
    }
</script>
<script>
    function updateDocumentData(supplier, data){
        console.log(supplier);
        console.log(data);
        Swal.fire({
              title: 'Success!',
              text: 'Successfully scanned the QR code',
              icon: 'success'
            });
        const mpn = document.getElementById('mpn');
        if(supplier === "LCSC"){
            let str = data.replace(/[{}]/g, '');
            // 使用逗号分隔每一对键值
            let pairs = str.split(',');
            // 遍历每一对键值，查找 'pc'
            let pmValue = '';
            for (let pair of pairs) {
              let [key, value] = pair.split(':');  // 将每对键值分开
              if (key === 'pm') {
                pmValue = value;  // 找到pc对应的值
              }
            }
            mpn.value = pmValue;
            // 输出结果
            console.log(pmValue);
        }
        if(supplier === "Digikey"){
            // 替换控制字符 GS (ASCII 29) 为一个可识别的分隔符
            let cleanString = data.replace(/\x1d/g, ',');  // 逗号替代
            let fields = cleanString.split(',');
            let field1P = '';  // MPN
            fields.forEach(field => {
              if (field.startsWith('1P')) {
                field1P = field.substring(2);  // 去掉开头的 "1P"
              }
            });
            console.log('Field starting with 1P:', field1P);
            mpn.value = field1P;
        }
    }

    function scanQRcode() {
        let html5QrCode; // 声明一个全局变量，保存二维码扫描实例
        Swal.fire({
            title: 'Scan for QR Code',
            html: `
                <select id="supplier-selected" class="swal2-select">
                    <option value="LCSC">LCSC</option>
                    <option value="Digikey">Digikey</option>
                </select>
                <div id="qr-reader" style="width: 100%; height: 300px;"></div>
            `,
            showCancelButton: true,
            showConfirmButton: false,
            willOpen: () => {
                const supplierSelect = document.getElementById('supplier-selected');
                let QRformat = Html5QrcodeSupportedFormats.QR_CODE; // 默认格式为 QR_CODE

                // 监听下拉栏选择变化
                supplierSelect.addEventListener('change', () => {
                    const supplier = supplierSelect.value;
                    if (supplier === "LCSC") {
                        QRformat = Html5QrcodeSupportedFormats.QR_CODE;
                    } else if (supplier === "Digikey") {
                        QRformat = Html5QrcodeSupportedFormats.DATA_MATRIX;
                    }

                    // 重新初始化二维码扫描器
                    if (html5QrCode) {
                        html5QrCode.stop().then(() => {
                            html5QrCode = new Html5Qrcode("qr-reader", { formatsToSupport: [QRformat] });
                            html5QrCode.start(
                                { facingMode: "environment" }, // 使用后置摄像头
                                {
                                    fps: 30, // 每秒扫描次数
                                    qrbox: 250, // 扫描框大小
                                },
                                (decodedText, decodedResult) => {
                                    // 处理扫码结果
                                    updateDocumentData(supplier, decodedText);

                                    // 停止扫描
                                    html5QrCode.stop();
                                    Swal.close();
                                },
                                (errorMessage) => {
                                    console.log(errorMessage);
                                }
                            );
                        }).catch((err) => {
                            console.error("停止二维码扫描失败", err);
                        });
                    }
                });

                // 初始扫描器启动
                const supplier = supplierSelect.value;
                if (supplier === "LCSC") {
                    QRformat = Html5QrcodeSupportedFormats.QR_CODE;
                } else if (supplier === "Digikey") {
                    QRformat = Html5QrcodeSupportedFormats.DATA_MATRIX;
                }

                html5QrCode = new Html5Qrcode("qr-reader", { formatsToSupport: [QRformat] });
                html5QrCode.start(
                    { facingMode: "environment" }, // 使用后置摄像头
                    {
                        fps: 30, // 每秒扫描次数
                        qrbox: 250, // 扫描框大小
                    },
                    (decodedText, decodedResult) => {
                        // 处理扫码结果
                        updateDocumentData(supplier, decodedText);
                        // 停止扫描
                        html5QrCode.stop();
                    },
                    (errorMessage) => {
                        console.log(errorMessage);
                    }
                ).catch(err => {
                    Swal.fire({
                        title: 'Can not access the camera',
                        text: err,
                        icon: 'error'
                    });
                });
            },
        });
    }
</script>
<script>
    function submitChanges(){
        const payload = {
                m_name: document.getElementById('m_name').value,
                m_class: document.getElementById('m_class').value,
                footprint: document.getElementById('footprint').value,
                quantity: document.getElementById('quantity').value,
                mpn: document.getElementById('mpn').value,
                manufacture: document.getElementById('manufacture').value,
                spn: document.getElementById('spn').value,
                supplier: document.getElementById('supplier').value,
                position: document.getElementById('position').value,
                user_comment: document.getElementById('user_comment').value,
                buy_time: document.getElementById('buy_time').value
            }
            // 向后端API发送请求
            fetch('/api/updateSingleDatawithMPN', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload)
            }).then(() => {
                Swal.fire({
                    title: "Success",
                    text: "Your changes have been saved",
                    icon: "success"
                  }).then((result) => {
                      location.reload();
                })
            })
            .catch((error) => {
                console.error('错误:', error);
                Swal.fire({
                    title: "ERROR",
                    text: "Check the Internet connection and your data input?",
                    icon: "error"
                  });
            });
    }
</script>

{% endblock %}
